@model TIROERP.Core.Model.Mofa
@{
    string reportName = string.Empty;
    string filepath = string.Empty;
    string ReportPath = string.Empty;
    if (Model != null)
    {
        if (!string.IsNullOrEmpty(Model.MofaFilePath))
        {
            ReportPath = Model.MofaFilePath;
            reportName = Model.MofaFilePath.Substring(15);
            filepath = Url.Content(Server.MapPath("~/Uploads/MofaUploadedFiles/" + Model.MofaFilePath));
        }
    }
}
@*Date picker*@
<script type="text/javascript">
    $(document).ready(function () {

        $("#MofaDate").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true, yearRange: "-70:+10",
        });

        $("#ApplicationDate").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true, yearRange: "-70:+10",
        });

        $("#HealthDate").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true, yearRange: "-70:+10",
        });

        $("#DDDate").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true, yearRange: "-70:+10",
        });

        $(document).on("click", ".removeFile", function () {

            $(this).parent().remove();

            $(".fileGroup").hide();
            $(".fileadd").show();
            $("#ReportPath").val('');
        });

        var file = '@reportName';
        if (file == null || file == "") {
            $(".fileadd").show();
        }
    });
</script>
<form action="" method="post" enctype="multipart/form-data">
    <div id="medicalForm" data-parsley-validate class="form-horizontal form-label-left">
        @Html.HiddenFor(model => model.MofaID)
        @Html.HiddenFor(model => model.USER_REQUIREMENT_ID, new { @id = "MofaUserReqId" })
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedDate)

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3">Mofa No <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6">
                @Html.TextBoxFor(model => model.MofaNumber, new { @id = "MofaNumber", @class = "form-control  col-md-7 col-xs-12", @placeholder = "Mofa No", @autocomplete = "off", @maxlength = "30" })
                @Html.ValidationMessageFor(model => model.MofaNumber, "", new { @class = "text-danger", @id = "Err_MofaNumber" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3">Date <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6">
                @Html.TextBoxFor(model => model.MofaDate, "{0:dd-MMM-yyyy}", new { @id = "MofaDate", @class = "form-control  col-md-7 col-xs-12", @placeholder = "Mofa Date", @autocomplete = "off", @maxlength = "30" })
                @Html.ValidationMessageFor(model => model.MofaDate, "", new { @class = "text-danger", @id = "Err_MofaDate" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3">Application No </label>
            <div class="col-md-6 col-sm-6">
                @Html.TextBoxFor(model => model.ApplicationNumber, new { @id = "ApplicationNumber", @class = "form-control  col-md-7 col-xs-12", @placeholder = "Transaction Number", @autocomplete = "off", @maxlength = "30" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3">Application Date </label>
            <div class="col-md-6 col-sm-6">
                @Html.TextBoxFor(model => model.ApplicationDate, "{0:dd-MMM-yyyy}", new { @id = "ApplicationDate", @class = "form-control  col-md-7 col-xs-12", @placeholder = "Application Date", @autocomplete = "off", @maxlength = "30" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3">Health No </label>
            <div class="col-md-6 col-sm-6">
                @Html.TextBoxFor(model => model.HealthNumber, new { @id = "HealthNumber", @class = "form-control  col-md-7 col-xs-12", @placeholder = "Transaction Number", @autocomplete = "off", @maxlength = "30" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3">Date </label>
            <div class="col-md-6 col-sm-6">
                @Html.TextBoxFor(model => model.HealthDate, "{0:dd-MMM-yyyy}", new { @id = "HealthDate", @class = "form-control  col-md-7 col-xs-12", @placeholder = "Health Date", @autocomplete = "off", @maxlength = "30" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3">DD No</label>
            <div class="col-md-6 col-sm-6">
                @Html.TextBoxFor(model => model.DDNumber, new { @id = "DDNumber", @class = "form-control  col-md-7 col-xs-12", @placeholder = "Transaction Number", @autocomplete = "off", @maxlength = "30" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3">
                Date
            </label>
            <div class="col-md-6 col-sm-6">
                @Html.TextBoxFor(model => model.DDDate, "{0:dd-MMM-yyyy}", new { @id = "DDDate", @class = "form-control  col-md-7 col-xs-12", @placeholder = "DD Date", @autocomplete = "off", @maxlength = "30" })
            </div>
        </div>

        @if (ReportPath != null && ReportPath != "")
        {
            <div class="form-group fileGroup">
                <label for="advFile" class="control-label col-md-3 col-sm-3" id="fileLabel">Report</label>
                <div class="col-md-6 col-sm-6 addPadding file-name">
                    @Html.ActionLink(reportName, "Download", "Medical", new { filepath = filepath }, new { })
                    <span class="glyphicon glyphicon-remove removeFile remove-part" title="Delete"></span>
                </div>
            </div>

        }

        <div class="form-group fileadd" style="display:none;">
            <label class="control-label col-md-3 col-sm-3">Upload Report</label>
            <div>
                <input type="file" name="mofaFile" id="txtmofaFile" />
            </div>
        </div>

        @Html.HiddenFor(model => model.MofaFilePath)
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Remark </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextAreaFor(model => model.MofaRemark, new { @id = "MofaRemark", @class = "form-control", @placeholder = "Remark", @autocomplete = "off" })
            </div>
        </div>

        <br />
    </div>

</form>
