@model IEnumerable<TIROERP.Core.Model.Visa>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/datatable/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Content/js/datatable/jquery.dataTables.min.js"></script>

@Scripts.Render(("~/bundles/datepicker"))
@Styles.Render("~/Content/datepicker")


<script type="text/javascript">
    $(document).ready(function () {
        $('#common-grid').DataTable(
            {
                "order": [],
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });

        $("#FromDate").datepicker({
            changeMonth: true,
            dateFormat: 'dd/mm/yy',
            onClose: function (selectedDate, instance) {
                if (selectedDate != '') { //added this to fix the issue
                    $("#ToDate").datepicker("option", "minDate", selectedDate);
                    var date = $.datepicker.parseDate(instance.settings.dateFormat, selectedDate, instance.settings);
                    date.setMonth(date.getMonth() + 2);
                    console.log(selectedDate, date);
                    $("#ToDate").datepicker("option", "minDate", selectedDate);
                    $("#ToDate").datepicker("option", "maxDate", date);
                }
            }
        });
        $("#ToDate").datepicker({
            changeMonth: true,
            dateFormat: 'dd/mm/yy',
            onClose: function (selectedDate) {
                //$("#FromDate").datepicker("option", "maxDate", selectedDate);
            }
        });

    });
</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Visa</h3>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>@Html.ActionLink("Add Visa", "Create", "Visa", new { }, new { @class = "btn btn-primary" })</h2>
                            <ul class="nav navbar-right panel_toolbox" style="min-width: 0px;">
                                <li><a href="#"><i class="fa fa-chevron-up"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            @if (!string.IsNullOrEmpty(@ViewBag.Success))
                            {
                                <div class="alert alert-success alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">
                                        &times;
                                    </button>
                                    @ViewBag.Success
                                </div>
                            }

                            <div data-parsley-validate class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3">Visa No</label>
                                    <div class="col-md-6 col-sm-6">
                                        @Html.TextBox("VisaNo", "", new { @class = "form-control col-md-7 col-xs-12", @placeholder = "Visa No" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3">From Date</label>
                                    <div class="col-md-3 col-sm-3">
                                        @Html.TextBox("FromDate", "", new { @class = "form-control col-md-7 col-xs-12", @placeholder = "From Date", @autocomplete = "off" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3">To Date</label>
                                    <div class="col-md-3 col-sm-3">
                                        @Html.TextBox("ToDate", "", new { @class = "form-control col-md-7 col-xs-12", @placeholder = "To Date", @autocomplete = "off" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary" title="Submit" name="SubmitButton" id="SubmitButton" value="Submit">Search</button>
                                        <div class="btn btn-default">
                                            @Html.ActionLink("Reset", "Index")
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <table id="common-grid" class="display table datable-grid table-striped table-bordered table-responsive jambo_table" cellspacing="0" width="100%">
                                <thead>
                                    <tr class="headings">
                                        <th>Client Name</th>
                                        <th>Visa No.</th>
                                        <th>Purpose</th>
                                        <th>Place of Endorsement</th>
                                        <th>Issue Date</th>
                                        <th>Expiry Date</th>
                                        <th>Received On</th>
                                        <th>Download File</th>
                                        <th>Edit / Delete</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var docDetail in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => docDetail.CLIENT_NAME)</td>
                                            <td>@Html.DisplayFor(modelItem => docDetail.VISA_NUMBER)</td>
                                            <td>@Html.DisplayFor(modelItem => docDetail.PURPOSE)</td>
                                            <td>@Html.DisplayFor(modelItem => docDetail.PLACE_OF_ENDORSEMENT)</td>
                                            <td>@docDetail.INDIAN_FORMAT_ISSUE_DATE.ToString("dd/MM/yyyy")</td>
                                            <td>@docDetail.INDIAN_FORMAT_EXPIRY_DATE.ToString("dd/MM/yyyy")</td>
                                            <td>@Convert.ToDateTime(docDetail.RECIEVED_DATE).ToString("dd/MM/yyyy")</td>
                                            <td>
                                                @if (docDetail.FILE_PATH != null)
                                                {
                                                    string filepath = Url.Content(Server.MapPath("~/Uploads/VisaUploadedFiles/" + docDetail.FILE_PATH));
                                                    @Html.ActionLink("Download", "Download", "Medical", new { filepath = filepath }, new { @class = "glyphicon glyphicon-download" })
                                                }
                                            </td>
                                            <td>@Html.ActionLink("Edit", "Edit", new { id = docDetail.VISA_ID }, new { @class = "btn btn-info btn-xs" })  @Html.ActionLink("Delete", "Delete", new { id = docDetail.VISA_ID }, new { @class = "btn btn-danger btn-xs" })</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
    <!-- /page content -->
}